body {
  display: flex;
  height: 100vh;
  align-items: center;
}

.container {
  width: 100%;
}

main {
  margin: auto;
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightGreen;
}

main>div {
  display: flex;
  width: 80%;
  height: 80%;
  background-color: gray;
  color: white;
  font-size: 5em;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  /* stop text in div from being selected */
  user-select: none;

}

.roundy {
  border-radius: 50%;
}


.active {
  background-color: red;
}