/* From good ole MDN: https://developer.mozilla.org/en-US/docs/Web/HTML/Reference/Elements/table */

table {
  border-collapse: collapse;
  border: 2px solid rgb(140 140 140);
  font-family: sans-serif;
  font-size: 0.8rem;
  letter-spacing: 1px;
}

caption {
  caption-side: bottom;
  padding: 10px;
  font-weight: bold;
}

thead,
tfoot {
  background-color: rgb(228 240 245);
}

th,
td {
  border: 1px solid rgb(160 160 160);
  padding: 8px 10px;
}

td:last-of-type {
  text-align: center;
}

tbody>tr:nth-of-type(even) {
  background-color: rgb(237 238 242);
}

tfoot th {
  text-align: right;
}

tfoot td {
  font-weight: bold;
}

body {
  display: flex;
  flex-direction: column;
}

body>a {
  display: flex;
  height: 80px;
  font-size: 28px;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  height: 50vh;
  justify-content: center;
  align-items: center;
}

form {
  font-size: 1.4em;
}

input {
  font-size: 1.2rem;
  padding: 12px;
}